<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<div class="container text-center">


<h2>Password Generator</h2>

<form action="password" >
    <label class="radio-inline control-label">Length Of Password</label>
<select name="len">
<option value="6">6</option>
<option value="7 ">7</option>
<option value="8">8</option>
<option value="9">9</option>
<option value="10">10</option>
<option value="11">11</option>
<option value="12" selected="selected">12</option>
<option value="13">13</option>
<option value="14">14</option>
<option value="15">15</option>
<option value="16">16</option>
</select>

<br>
<label class="radio-inline control-label">UpperCase</label>
<input type="checkbox" name="uppercase">
<br>


<label class="radio-inline control-label">Numbers</label>
<input type="checkbox" name="numbers">


<br>
<label class="radio-inline control-label">Special Characters</label>
<input type="checkbox" name="special">
<br>

<input type="submit" value="Generate Password" class="btn btn-primary">


</form>


</div>